/* body is the "Selctor", background: paleturquoise is the "Declaration"
    background is a "Property"
    paleturquoise is the "Value"
 */

/*
COLOR PALETTE

Shark #2A2F33
Nomad #BBB6A5
Mantle #8C9491
Manatee #8C8C9C
Kabul #5B443E
Chestnut Rose #CD6858
Celeste #CECFCD

*/

/* GLOBAL STYLES 
--------------------------------------*/
html {
    box-sizing: border-box;
    font-size: 62.5%;       /* set default font-size to 10px */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
/* https://stackoverflow.com/questions/6654958/make-body-have-100-of-the-browser-height */
html {
    height: 100%;
}

body {
    min-height: 100%;
    background: #2A2F33;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

h1, h2, h3 {
    font-family: 'Merienda', cursive;
    font-weight: 400;
    margin: 0;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.4rem;
}

/* links */
a {
    color: #8C9491;
}

a:hover {
    color: #CD6858;
    text-decoration: none;      /* Removes the underline from the link */
}

/* Footer Links */
footer a {
    color: #BBB6A5;

}

footer a:hover {
    color: #8C9491;
}

/* buttons */
.btn {
    background: #BBB6A5;
    color: #2A2F33;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.02em;
    line-height: 1;
    border-radius: 8px;
}

/* content wrapper for both pages */
.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
}

/* HOME
--------------------------------------*/
.home {
    background: url(../images/2400-waves-on-kaihalulu-red-sand-beach-in-maui-hawaii.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.content-bg {
    /* background: color / opacity */
    background: rgba(0, 0, 0, 0.8);
    color: #BBB6A5;
    padding: 30px;
    border: 10px solid #2A2F33;
}

@media screen and (max-width:650px) {
    .home .content-wrapper {
        padding: 10px;
    }

    .home .content-bg {
        padding: 10px;
    }
}



/* RESUME
--------------------------------------*/
.resume header::before {
    background: url(../images/2400-waves-on-kaihalulu-red-sand-beach-in-maui-hawaii.jpg) no-repeat;
    background-position: top;
    background-size: cover;
    content: "";
    display: block;
    height: 200px;
}

.resume {
    color: #BBB6A5;
}

.resume-section {
    margin-bottom: 100px;
}

.resume-section h2 {
    border-bottom: 2px dashed #BBB6A5;
}

.resume-download {
    position: fixed;
    top: 5px;
    left: 5px;
    padding: 10px;
    font-size: 1.6rem;
}

@media screen and (max-width:1200px) {
    .resume-download {
        position: absolute;
    }
}

@media screen and (max-width:820px) {
    .resume header::before {
        height: 150px;
    }
    h1 {
        font-size: 3.54rem;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 1.673rem;
    }
}

/* Profile
--------------------------------------*/

/* Projects
--------------------------------------*/
.project-item {
    margin: 30px 0;     /* 30px top and bottom, 0px left and right */
}

.project-item img {
    width: 300px;
}

@media screen and (min-width:860px) {
    .project-item {
        display: flow-root;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }
}

@media screen and (min-width:650px) and (max-width:859px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);      /* Create two columns for our grid, equally spaceed */
        column-gap: 20px;
    }

    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .project-item img {
        width: 100%;
        margin-bottom: 10px;
    }
}



/* Work Experience
--------------------------------------*/
.work-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.work-details p {
    margin: 0;
}

@media screen and (min-width:860px) {
    .work-item {
        display: grid;
        grid-template-columns: 300px 1fr;   /* 300px matches width of project section pictures, 1fr fills the remaining space in grid */
        column-gap: 20px;
    }

    .work-summary p:first-child {
        margin-top: 0;
    }
}


/* Education
--------------------------------------*/
.education-item {
    margin-top: 30px;
    margin-bottom: 30px;;
}

.education-item p {
    margin: 0;
}


/* FOOTER
--------------------------------------*/
footer {
    background: #222222;
    color: #BBB6A5;
}

footer ul.socials {
    list-style-type: none;
    padding: 0;
}

footer ul.socials li {
    display: inline-block;
    margin-left: 10px;
}

footer ul.socials img {
    width: 45px;
}

footer ul.socials img:hover {
    opacity: 0.3;
}

@media screen and (min-width:820px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width:859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}



